page-login {
  div {
    text-align: center;
    align-content: center;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .background {
    background: linear-gradient(#9b59b6, #6ed3cf);
  }
  .head-text {
    color: white;
  }
}
