page-customer-details {
  .centeredDiv {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .headerBoldText {
    font-weight: bold;
  }
  .dueAmountText {
    color: red;
  }
  .loanAmtText{
    color : #6ed3cf;
  }
}
